{% extends 'base.html.twig' %}




{% block javascripts %}
	<script type="text/javascript" src="{{asset("/bundles/tips/js/form.js")}}"></script>
{% endblock %}

{% block title %}
	{% if form.children.titulo.vars.value=="" %}
		Nuevo tip
	{% else %}
		Editar tip
	{% endif %}
{% endblock %}
{% block section %}

	<section class="menu-brother">
		<div class="container">
			
			{% if form.children.titulo.vars.value=="" %}
				<h1>Nuevo tip</h1>
			{% else %}
				<h1>Editar tip</h1>
			{% endif %}

			<form method="{{form.vars.method}}" name="{{form.vars.full_name}}" enctype="multipart/form-data">

				<h2>{{form.children.titulo.vars.label}}</h2>

				<div class="input-field">
					<input 
					type="{{form.children.titulo.vars.block_prefixes.1}}" 
					name="{{form.children.titulo.vars.full_name}}"
					value="{{form.children.titulo.vars.value}}"
					maxlength="{{form.children.titulo.vars.attr.maxlength}}" 
					{{form.children.titulo.vars.required?"required":""}}
					>					
				</div>

				<h2>{{form.children.idioma.vars.label}}</h2>
				
				<div class="input-field">
					
					
						{% for idioma in form.children.idioma.children %}
							<input 
								type="radio" 
								id="{{idioma.vars.id}}" 
								value="{{idioma.vars.value}}" 
								{{idioma.vars.checked?"checked":""}}
								{{idioma.vars.required?"required":""}}
								name="{{idioma.vars.full_name}}"
								>
							<label for="{{idioma.vars.id}}">{{idioma.vars.label}}</label>
							
						{% endfor %}
					

				</div>
				
				<h2>Visibilidad</h2>
				<div class="switch">
					<input 
					type="{{form.children.visible.vars.block_prefixes.1}}" 
					name="{{form.children.visible.vars.full_name}}"
					id="{{form.children.visible.vars.full_name}}"
					{{(form.children.visible.vars.checked)?"checked":""}}							
					>
					<label for="{{form.children.visible.vars.full_name}}">
						{{form.children.visible.vars.label}}
					</label>
				</div>

				<h2>Destacado</h2>
				<div class="switch">
					<input 
					type="{{form.children.destacado.vars.block_prefixes.1}}" 
					name="{{form.children.destacado.vars.full_name}}"
					id="{{form.children.destacado.vars.full_name}}"
					{{(form.children.destacado.vars.checked)?"checked":""}}							
					>
					<label for="{{form.children.destacado.vars.full_name}}">
						{{form.children.destacado.vars.label}}
					</label>
				</div>

				<h2>{{form.children.categoria.vars.label}}</h2>

				<div class="input-field">
					<select name="{{form.children.categoria.vars.full_name}}" {{form.children.categoria.vars.required?"required":""}}>

						<option value=""></option>

						{% for choice in form.children.categoria.vars.choices %}
						    <option value="{{choice.value}}" {{choice.value==form.children.categoria.vars.value?"selected":""}}>{{choice.label}}</option>
						{% endfor %}
					</select>
				</div>


				<h2>{{form.children.archivo_aux.vars.label}}</h2>
				<div class="file-field input-field image-field">

					{% if archivo is defined %}
						{% set archivo= archivo | split("/") %}
					{% endif %}
					<div class="js-archivo-input">

						<div class="file-path-wrapper">
							<input class="file-path validate" type="text"
							value="{{archivo is defined?archivo[archivo|length-1]:""}}"
							>
						</div>					

						<div class="btn">
							<span>{{form.children.archivo_aux.vars.label}}</span>
							<input 
							type="file" 
							id="{{form.children.archivo_aux.vars.id}}"
							name="{{form.children.archivo_aux.vars.full_name}}"
							{{archivo is defined?"":"required"}}
							>							
						</div>

					</div>					
				</div>

				

				<div id="botones" class="contenedor-botones row-start">

					<div>
						<button
						class="btn waver-effect"
						type="submit" 
						name="{{form.children.submit.vars.full_name}}"
						>{{form.children.submit.vars.label}}</button>
					</div>

					{% if form.children.delete is defined %}
						<div>
							<button class="btn waver-effect red darken-4" href="" id="{{form.children.delete.vars.id}}">{{form.children.delete.vars.label}}</button>
						</div>
						<div style="display:none;">
							<button
							type="submit" 
							name="{{form.children.delete.vars.full_name}}"							
							>{{form.children.delete.vars.label}}</button>
						</div>
					{% endif %}

					<div>
						<a
						class="btn waver-effect grey"
						href="{{path("listado_tips")}}"
						
						>Cancelar</a>
					</div>

				</div>
				
				<div>
					<input 
					type="hidden" 
					name="{{form.children.id.vars.full_name}}"
					value="{{form.children.id.vars.value}}"
					>
				</div>
				<div>
					<input 
					type="hidden" 
					name="{{form.children._token.vars.full_name}}"
					value="{{form.children._token.vars.value}}">
				</div>

			</form>
		</div>
	</section>
{% endblock %}

{% block popup %}
	<div id="popup" class="modal">
		<div class="modal-content">
			<div id="box">
				<div id="message"></div>
				<div id="box_options"></div>
			</div>
		</div>
	</div>
{% endblock %}