{% extends 'base.html.twig' %}

{% block title %}Tips{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{asset("/bundles/tips/js/listado.js")}}"></script>
{% endblock %}

{% block section %}

<section class="menu-brother">

	
	<div class="container-table">
		<div class="contenedor-titulo row-between">	
			<h1>Tips</h1>
			<a class="btn waves-effect" href="{{path("añadir_tip")}}">Añadir nuevo</a>
		</div>
		<div class="contenedor-tabla">

			<table class="table-js striped">
				<thead>
					<tr>
						<th class="fecha">Alta</th>
						<th class="visible">Título</th>
						<th class="categoria">Categoría</th>
						<th class="visible">visible</th>
						<th class="destacado">Destacado</th>
						<th class="opciones">Opciones</th>
					</tr>
				</thead>

				<tbody>

					{% for tip in tips %}

					<tr class="tip" id="{{tip.id}}">
						<td class="fecha">{{tip.creado|date("d/m/Y H:i:s")}}</td>
						<td class="titulo">{{tip.titulo}}</td>
						<td class="tipo">{{tip.categoria}}</td>						
						<td class="visible">{{(tip.visible)?"Activado":"Desactivado"}}</td>
						<td class="destacado">{{(tip.destacado)?"Si":"No"}}</td>
						<td class="opcion">
							<a class="destacado" href="{{path("cambiar_destacado_tip")}}"><span><i class="material-icons" style="{{tip.destacado?"color:#db9c0d":""}}">star</i></span></a>
							<a class="ver" href="{{path("editar_tip",{"id":tip.id})}}"><span><i class="material-icons" >edit</i></span></a>
							<a class="borrar" href="{{path("eliminar_tip")}}"><span><i class="material-icons" >delete</i></span></a>
							<a class="estado" href="{{path("cambiar_estado_tip")}}"><span><i class="material-icons" >{{tip.visible==false?"check":"block"}}</i></span></a>
						</td>
					</tr>

					{% endfor %}

				</tbody>
			</table>

		</div>




	</div>

</section>

{% endblock %}


{% block popup %}

	<div id="popup" class="modal">
		<div class="modal-content">
			<div id="box">
				<div id="message"></div>
				<div id="box_options"></div>
			</div>
		</div>
	</div>
{% endblock %}