{% extends 'base.html.twig' %}

{% block title %}Keywords{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{asset("/bundles/tips/js/listado.js")}}"></script>
{% endblock %}

{% block section %}
{% set idiomas={"es":"Español","en":"Inglés"} %}
<section class="menu-brother">

	
	<div class="container-table">
		<div class="contenedor-titulo row-between">	
			<h1>Keywords</h1>
			<a class="btn waves-effect" href="{{path("añadir_keyword")}}">Añadir nuevo</a>
		</div>
		<div class="contenedor-tabla">

			<table class="table-js striped">
				<thead>
					<tr>
						<th class="fecha">Alta</th>
						<th class="nombre">Título</th>
						<th class="idioma">Idioma</th>
						<th class="opciones">Opciones</th>
					</tr>
				</thead>

				<tbody>

					{% for keyword in keywords %}

					<tr class="keyword" id="{{keyword.id}}">
						<td class="fecha">{{keyword.creado|date("d/m/Y H:i:s")}}</td>
						<td class="nombre">{{keyword.titulo}}</td>
						<td class="Idioma">{{idiomas[keyword.idioma]}}</td>
						<td class="opcion">
							
							<a class="ver" href="{{path("editar_keyword",{"id":keyword.id})}}"><span><i class="material-icons" >edit</i></span></a>
							<a class="borrar" href="{{path("eliminar_keyword")}}"><span><i class="material-icons" >delete</i></span></a>
						</td>
					</tr>

					{% endfor %}

				</tbody>
			</table>

		</div>




	</div>

</section>

{% endblock %}


{% block popup %}

	<div id="popup" class="modal">
		<div class="modal-content">
			<div id="box">
				<div id="message"></div>
				<div id="box_options"></div>
			</div>
		</div>
	</div>
{% endblock %}