{% extends 'base.html.twig' %}
{% block title %}Login{% endblock %}
{% block javascripts %} 

<script type="text/javascript">    
    tiempo_mensaje();
</script>   
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{asset("/css/forms/main.css")}}"> 
<link rel="stylesheet" type="text/css" href="{{asset("/css/forms/login.css")}}">   
{% endblock %}
{% block section %}
<section class="section-login">

    <div class="view-login full-view row-center ais">


        <div class="contenedor-login column-center aife">

            <div class="contenedor-logo-login">
                <img width="145px" src="{{asset("/css/img/logo-pascual.png")}}" alt="Logo">
            </div>


            <div class="contenedor-formulario">

                <h1 class="titulo">Acceso gestión<span></span></h1>

                {% if error %}
                <div class="error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <form action="{{app.request.requestUri}}" method="post">
                    <div class="input-field">
                        <input id="username" type="text" name="_username" value="{{ last_username }}" >
                        <label for="email">Email</label>
                    </div>

                    <div class="input-field">
                        <input type="password" id="password" name="_password"/>
                        <label for="email">Contraseña</label>
                    </div>

                    <div class="switch">
                      <input type="checkbox" id="remember_me" name="_remember_me">
                      <label for="remember_me">
                          Recuérdame
                      </label>
                  </div>

                  <div>
                    <p class="mb-10"><a target="_blank" class="enlace" href="{{path("contraseña_olvidada")}}">¿Has olvidado tu contraseña?</a></p>
                </div>
                <div class="full-width row-end mt-20">
                    <button type="submit" class="waves-effect waves-light btn">login</button>
                </div>
            </form>

        </div>

    </div>

    <div class="contenedor-imagen"></div>

</div>
</section>
{% endblock %}