{% extends 'base.html.twig' %}


{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{asset("/js/croppie/croppie.css")}}">
{% endblock %}

{% block javascripts %}
	<script type="text/javascript" src="{{asset("/bundles/prensa/descargables/js/form.js")}}"></script>
	<script type="text/javascript" src="{{asset("/js/croppie/croppie.js")}}"></script>
{% endblock %}

{% block title %}
	{% if form.children.titulo.vars.value=="" %}
		Nuevo descargable
	{% else %}
		Editar descargable
	{% endif %}
{% endblock %}
{% block section %}

	<section class="menu-brother">

		<div class="container">
			
			{% if form.children.titulo.vars.value=="" %}
				<h1>Nuevo descargable</h1>
			{% else %}
				<h1>Editar descargable</h1>
			{% endif %}

			<form method="{{form.vars.method}}" name="{{form.vars.full_name}}" enctype="multipart/form-data">

				<h2>{{form.children.titulo.vars.label}}</h2>

				<div class="input-field">
					<input 
					type="{{form.children.titulo.vars.block_prefixes.1}}" 
					name="{{form.children.titulo.vars.full_name}}"
					value="{{form.children.titulo.vars.value}}"
					maxlength="{{form.children.titulo.vars.attr.maxlength}}" 
					{{form.children.titulo.vars.required?"required":""}}
					>					
				</div>

				<h2>{{form.children.idioma.vars.label}}</h2>
				
				<div class="input-field">
					
					
						{% for idioma in form.children.idioma.children %}
							<input 
								type="radio" 
								id="{{idioma.vars.id}}" 
								value="{{idioma.vars.value}}" 
								{{idioma.vars.checked?"checked":""}}
								{{idioma.vars.required?"required":""}}
								name="{{idioma.vars.full_name}}"
								>
							<label for="{{idioma.vars.id}}">{{idioma.vars.label}}</label>
							
						{% endfor %}
					

				</div>
				
				<h2>Visibilidad</h2>
				<div class="switch">
					<input 
					type="{{form.children.visible.vars.block_prefixes.1}}" 
					name="{{form.children.visible.vars.full_name}}"
					id="{{form.children.visible.vars.full_name}}"
					{{(form.children.visible.vars.checked)?"checked":""}}							
					>
					<label for="{{form.children.visible.vars.full_name}}">
						{{form.children.visible.vars.label}}
					</label>
				</div>
				

				<h2>{{form.children.categoria.vars.label}}</h2>
				
				<div class="input-field">
					
					
						{% for tipo in form.children.categoria.children %}
							<input 
								type="radio" 
								id="{{tipo.vars.id}}" 
								value="{{tipo.vars.value}}" 
								{{tipo.vars.checked?"checked":""}}
								{{tipo.vars.required?"required":""}}
								name="{{tipo.vars.full_name}}"
								>
							<label for="{{tipo.vars.id}}">{{tipo.vars.label}}</label>
							
						{% endfor %}
					

				</div>

				<div class="js-archivo" style="{{form.children.categoria.vars.value=="clipping-de-prensa"?"":"display:none"}}">
					<h2>{{form.children.archivo_aux.vars.label}}</h2>
					<div class="file-field input-field image-field">
						
						{% if archivo is defined %}
							{% set aux= archivo | split("/") %}
						{% endif %}
						<div class="js-imagen-input">

							<div class="file-path-wrapper">
								<input class="file-path validate" type="text"
								value="{{aux is defined?aux[aux|length-1]:""}}"
								>
							</div>					

							<div class="btn">
								<span>{{form.children.archivo_aux.vars.label}}</span>
								<input 
								type="file" 
								id="{{form.children.archivo_aux.vars.id}}"
								name="{{form.children.archivo_aux.vars.full_name}}"
								{{archivo is not defined and form.children.categoria.vars.value=="clipping-de-prensa" ?"required":""}}
								accept=".pdf,.doc,.zip" 
								>							
							</div>									
						</div>
					</div>
				</div>

				<div class="js-imagen" style="{{form.children.categoria.vars.value!="clipping-de-prensa"?"":"display:none"}}">
					<h2>{{form.children.imagen.vars.label}}</h2>
					<div class="file-field input-field image-field">
						
						
						<div class="js-imagen-input" style="{{form.children.categoria.vars.value!="clipping-de-prensa" and imagen is defined?"display:none":""}}">

							<div class="file-path-wrapper">
								<input class="file-path validate" type="text">
							</div>					

							<div class="btn">
								<span>{{form.children.imagen.vars.label}}</span>
								<input 
								type="file" 
								id="fake_button_file"							
								{{form.children.categoria.vars.value!="clipping-de-prensa" and imagen is defined?"":"required"}}
								accept="image/*" 
								>
								<input type="hidden" name="{{form.children.imagen.vars.full_name}}">
							</div>
						</div>
						<div class="js-imagen-preview" style="{{form.children.categoria.vars.value!="clipping-de-prensa" and imagen is defined?"":"display:none;"}}">
							<img src="{{form.children.categoria.vars.value!="clipping-de-prensa" and imagen is defined ?asset(imagen):""}}" width="100px" height="auto">
							<i class="material-icons js-borrar-imagen">close</i>
						</div>
					</div>			
				</div>
				

				

				<div id="botones" class="contenedor-botones row-start">

					<div>
						<button
						class="btn waver-effect"
						type="submit" 
						name="{{form.children.submit.vars.full_name}}"
						>{{form.children.submit.vars.label}}</button>
					</div>

					{% if form.children.delete is defined %}
						<div>
							<button class="btn waver-effect red darken-4" href="" id="{{form.children.delete.vars.id}}">{{form.children.delete.vars.label}}</button>
						</div>
						<div style="display:none;">
							<button
							type="submit" 
							name="{{form.children.delete.vars.full_name}}"							
							>{{form.children.delete.vars.label}}</button>
						</div>
					{% endif %}

					<div>
						<a
						class="btn waver-effect grey"
						href="{{path("listado_descargables")}}"
						
						>Cancelar</a>
					</div>

				</div>
				
				<div>
					<input 
					type="hidden" 
					name="{{form.children.id.vars.full_name}}"
					value="{{form.children.id.vars.value}}"
					>
				</div>
				<div>
					<input 
					type="hidden" 
					name="{{form.children._token.vars.full_name}}"
					value="{{form.children._token.vars.value}}">
				</div>

			</form>
		</div>
	</section>
{% endblock %}

{% block popup %}
	<div id="popup" class="modal">
		<div class="modal-content">
			<div id="box">
				<div id="message"></div>
				<div id="box_options"></div>
			</div>
		</div>
	</div>

	<div id="popup-croppie" class="modal">
		<div class="modal-content">
			<div id="box">
				<div id="croppie" style="padding:50px 0px;"></div>
				<div id="box_options"><div class="contenedor-botones row-center"><div><span class="btn waver-effect" id="croppie-save">Guardar</span></div></div></div>
			</div>
		</div>
	</div>

	
					
{% endblock %}